<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * module
 *
 * @copyright Copyright © 2021 Landofcoder. All rights reserved.
 * @author    landofcoder@gmail.com
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Lof_FlashSalesGraphQl">
        <sequence>
            <module name="Lof_FlashSales"/>
            <module name="Magento_GraphQl"/>
        </sequence>
    </module>
</config>
